[submodule "TncEngine/vendore/spdlog"]
	path = TncEngine/vendore/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TncEngine/vendore/GLFW"]
	path = TncEngine/vendore/GLFW
	url = https://github.com/glfw/glfw
[submodule "TncEngine/vendore/glm"]
	path = TncEngine/vendore/glm
	url = https://github.com/g-truc/glm.git
